.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3;
}
.inputDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 43%;
    text-align: center;
    /* max-width: 40px; */
}
.labelInput{
    box-shadow: 2px 2px 4px gray;
    padding: 8px 5px;
    background-color: rgb(2, 2, 2);
    color: white;
    opacity: 0.9;
}
.subsInfo{
    position: relative;
    left: 43%;
    font-size: 22px;
}