.header{
    text-align: center;
    color: aquamarine;
    border-radius: 10px;
    font-size: larger;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgb(39, 37, 37);
    padding: 20px;
}